<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
            margin: 0px;
        }
        .header{
            padding-left: 50%;
            margin-top: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            word-spacing:30px ;
            

        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="/">Home</a>
            <a href="/About-us">About</a>
        <a href="/Contact-us">Contact</a>
        <img style="border-radius:50%;"src='../../images/fb.png'>&nbsp;<img style="border-radius:50%;" src="images/tw.png">&nbsp;<img style="border-radius:50%;" src="images/instagram.jpg">

        </div>
    </div>
    
</body>
</html>