<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-us</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quisquam voluptas sint harum, natus fugiat debitis quaerat rem placeat, minus adipisci veniam culpa. Inventore aperiam fuga eligendi corrupti tempora quisquam.
    <p>
        <a href="/">Homepage</a><br>
        <a href="/About-us">About us</a>
        <a href="Contact-us">Contact us</a>
    

    </p>
    
</body>
</html>